<h2>Reactive: Dinámicos</h2>
<hr>

<form
(ngSubmit)="guardar()"
[formGroup]="formularioDinamico"
autocomplete="off">
    
    <!-- Nombre -->
    <div class="mb-3 row">
        <label class="col-3 col-form-label">Nombre</label>

        <div class="col-sm-9">
            <input 
            type="text"
            class="form-control"
            placeholder="Nombre de la persona"
            formControlName="nombre">

            <span
            *ngIf="esValido('nombre')"
            class="form-text text-danger">
            Este campo es obligatorio
            </span>

        </div>        
    </div>

    <!-- Agregar Favorito -->
    <div class="mb-3 row">
        <label class="col-3 col-form-label">Agregar</label>

        <div class="col-sm-9">
            <div class="input-group">

                <input 
                type="text"
                class="form-control"
                placeholder="Agregar favorito"
                [formControl]="nuevoFavorito"
                (keyup.enter)="guardarFavorito()">

                <button 
                class="btn btn-outline-primary" 
                type="button"
                (click)="guardarFavorito()">
                    Agregar
                </button>

            </div>
        </div>  

    </div>

    <!-- Lista de Juegos Favoritos -->
    <div class="mb-3 row">
        <label class="col-3 col-form-label">Favoritos</label>

        <div class="col-sm-9" formArrayName="favoritos">

            <div 
            *ngFor="let favorito of favoritosArray.controls; let i = index"
            class="input-group mb-1">

                <input                 
                type="text" 
                class="form-control"
                [formControlName]="i">

                <button 
                class="btn btn-outline-danger" 
                type="button"
                (click)="borrarFavorito( i )">
                    Eliminar
                </button>
            </div>
                
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button 
            type="submit"
            class="btn btn-primary float-end">
                Guardar
            </button>
        </div>
    </div>
</form>

<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre> {{formularioDinamico.valid}} </pre>

        <span>Value</span>
        <pre> {{formularioDinamico.value | json }} </pre>

        <span>Nombre : errors</span>
        <pre> {{formularioDinamico.controls.nombre.errors | json }} </pre>

        <span>Agregar Juego : valid</span>
        <pre> {{nuevoFavorito.valid }} </pre>

        <span>Agregar Juego : value</span>
        <pre> {{nuevoFavorito.value | json }} </pre>

    </div>
</div>
